<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.dsp.mapper.WarningInfoMapper">

    <select id="listWarningUsers" resultType="com.hd.dsp.pojo.vo.WarningUserVO"
            parameterType="java.lang.Integer">
        --        先根据doctorId查出绑定的用户
--        根据用户查询warning_info表,
--        统计完成的数量（status=1）和未完成的数量(status=0)，找到最小的level，最近的warning_time
        SELECT u.id                                      AS userId,
               u.username,
               COUNT(CASE WHEN wi.status = 1 THEN 1 END) AS processed,
               COUNT(CASE WHEN wi.status = 0 THEN 1 END) AS unProcessed,
               MIN(wi.level)                             AS maxLevel,
               MAX(wi.warning_time)                      AS warningTime
        FROM user u
                 LEFT JOIN warning_info wi ON u.id = wi.patient_id
        WHERE u.doctor_id = #{doctorId}
        GROUP BY u.id, u.username
        ORDER BY  warningTime DESC
    </select>
</mapper>
